/.vs/Komparato-inator/v17/.suo
/__pycache__/Annotation.cpython-37.pyc
/__pycache__/Annotation.cpython-37.pyc
/__pycache__/ImageHandler.cpython-37.pyc
/__pycache__/IO.cpython-37.pyc
/__pycache__/Metrics.cpython-37.pyc
/__pycache__/ResultSet.cpython-37.pyc
/__pycache__/UserInterface.cpython-37.pyc
